In [1]:
import os
import pandas as pd

In [2]:
f1 = os.path.join('data', 'JC-202308-citibike-tripdata.csv')
f1

'data/JC-202308-citibike-tripdata.csv'

In [3]:
df1 = pd.read_csv(f1, encoding='utf-8')
df1.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,E2E964A161F786AB,classic_bike,2023-08-07 19:37:47,2023-08-07 19:41:14,6 St & Grand St,HB302,Madison St & 10 St,HB503,40.744398,-74.034501,40.749943,-74.035865,member
1,0660F2E48E3BB87F,classic_bike,2023-08-01 13:16:22,2023-08-01 13:26:02,6 St & Grand St,HB302,6 St & Grand St,HB302,40.744398,-74.034501,40.744398,-74.034501,member
2,940FC7C675232897,classic_bike,2023-08-15 17:28:23,2023-08-15 17:50:35,Heights Elevator,JC059,Heights Elevator,JC059,40.748721,-74.040480,40.748716,-74.040443,member
3,E967660CC5CD585B,classic_bike,2023-08-01 12:44:24,2023-08-01 12:49:45,Hoboken Ave at Monmouth St,JC105,Hoboken Terminal - River St & Hudson Pl,HB102,40.735279,-74.046830,40.736068,-74.029127,member
4,D997CB0B855FE2D6,classic_bike,2023-08-08 12:31:16,2023-08-08 12:40:18,Hoboken Ave at Monmouth St,JC105,Hoboken Terminal - River St & Hudson Pl,HB102,40.735208,-74.046964,40.736068,-74.029127,member

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112027 entries, 0 to 112026
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             112027 non-null  object
 1   rideable_type       112027 non-null  object
 2   started_at          112027 non-null  object
 3   ended_at            112027 non-null  object
 4   start_station_name  112027 non-null  object
 5   start_station_id    112027 non-null  object
 6   end_station_name    111701 non-null  object
 7   end_station_id      111701 non-null  object
 8   start_lat           112027 non-null  float64
 9   start_lng           112027 non-null  float64
 10  end_lat             111907 non-null  float64
 11  end_lng             111907 non-null  float64
 12  member_casual       112027 non-null  object
dtypes: float64(4), object(9)
memory usage: 11.1+ MB

In [5]:
df1.isna().sum()

ride_id                 0
rideable_type           0
started_at              0
ended_at                0
start_station_name      0
start_station_id        0
end_station_name      326
end_station_id        326
start_lat               0
start_lng               0
end_lat               120
end_lng               120
member_casual           0
dtype: int64

In [6]:
df1 = df1.dropna()

In [7]:
f2 = os.path.join('data', 'JC-202408-citibike-tripdata.csv')
df2 = pd.read_csv(f2, encoding='utf-8')
df2.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,17AE31FCAE74D287,electric_bike,2024-08-07 13:22:55.656,2024-08-07 13:25:09.654,7 St & Monroe St,HB304,4 St & Grand St,HB301,40.746413,-74.037977,40.742258,-74.035111,member
1,FD9859BDBE0CDF70,electric_bike,2024-08-13 13:15:08.627,2024-08-13 13:17:44.971,7 St & Monroe St,HB304,4 St & Grand St,HB301,40.746413,-74.037977,40.742258,-74.035111,member
2,AAC5ECD095AE5572,electric_bike,2024-08-12 20:07:26.975,2024-08-12 20:09:38.180,7 St & Monroe St,HB304,4 St & Grand St,HB301,40.746413,-74.037977,40.742258,-74.035111,member
3,857C4DCB2F29655B,electric_bike,2024-08-09 13:43:18.882,2024-08-09 13:45:38.226,7 St & Monroe St,HB304,4 St & Grand St,HB301,40.746413,-74.037977,40.742258,-74.035111,member
4,4439657C244E7009,classic_bike,2024-08-01 10:29:40.174,2024-08-01 10:32:56.874,Clinton St & Newark St,HB409,4 St & Grand St,HB301,40.737430,-74.035710,40.742258,-74.035111,member

In [8]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106451 entries, 0 to 106450
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             106451 non-null  object
 1   rideable_type       106451 non-null  object
 2   started_at          106451 non-null  object
 3   ended_at            106451 non-null  object
 4   start_station_name  106451 non-null  object
 5   start_station_id    106451 non-null  object
 6   end_station_name    106080 non-null  object
 7   end_station_id      106062 non-null  object
 8   start_lat           106451 non-null  float64
 9   start_lng           106451 non-null  float64
 10  end_lat             106414 non-null  float64
 11  end_lng             106414 non-null  float64
 12  member_casual       106451 non-null  object
dtypes: float64(4), object(9)
memory usage: 10.6+ MB

In [9]:
df2.isna().sum()

ride_id                 0
rideable_type           0
started_at              0
ended_at                0
start_station_name      0
start_station_id        0
end_station_name      371
end_station_id        389
start_lat               0
start_lng               0
end_lat                37
end_lng                37
member_casual           0
dtype: int64

In [10]:
df2 = df2.dropna()

In [11]:
print(df1.columns)
print(df2.columns)

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')
Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [12]:
df1['Year'] = 2023
df2['Year'] = 2024
# Concatenate the two datasets row-wise
merged_data = pd.concat([df1, df2])

# Optionally reset index if needed
merged_data.reset_index(drop=True, inplace=True)

merged_data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,Year
0,E2E964A161F786AB,classic_bike,2023-08-07 19:37:47,2023-08-07 19:41:14,6 St & Grand St,HB302,Madison St & 10 St,HB503,40.744398,-74.034501,40.749943,-74.035865,member,2023
1,0660F2E48E3BB87F,classic_bike,2023-08-01 13:16:22,2023-08-01 13:26:02,6 St & Grand St,HB302,6 St & Grand St,HB302,40.744398,-74.034501,40.744398,-74.034501,member,2023
2,940FC7C675232897,classic_bike,2023-08-15 17:28:23,2023-08-15 17:50:35,Heights Elevator,JC059,Heights Elevator,JC059,40.748721,-74.040480,40.748716,-74.040443,member,2023
3,E967660CC5CD585B,classic_bike,2023-08-01 12:44:24,2023-08-01 12:49:45,Hoboken Ave at Monmouth St,JC105,Hoboken Terminal - River St & Hudson Pl,HB102,40.735279,-74.046830,40.736068,-74.029127,member,2023
4,D997CB0B855FE2D6,classic_bike,2023-08-08 12:31:16,2023-08-08 12:40:18,Hoboken Ave at Monmouth St,JC105,Hoboken Terminal - River St & Hudson Pl,HB102,40.735208,-74.046964,40.736068,-74.029127,member,2023

In [15]:
len(merged_data)

217763

In [17]:
from datetime import datetime
# function to convert datetime into unified format.
def parse_datetime(date_str):
    try:
        return datetime.strptime(date_str, "%Y-%m-%d %H:%M:%S.%f")
    except:
        return datetime.strptime(date_str, "%Y-%m-%d %H:%M:%S")
merged_data['started_at'] = merged_data['started_at'].apply(parse_datetime)
merged_data['ended_at'] = merged_data['ended_at'].apply(parse_datetime)

In [22]:
merged_data.nunique()

ride_id               217763
rideable_type              2
started_at            213966
ended_at              214269
start_station_name       114
start_station_id         114
end_station_name         278
end_station_id           277
start_lat              36573
start_lng              37186
end_lat                  276
end_lng                  277
member_casual              2
Year                       2
dtype: int64

In [23]:
# Ensure latitude and longitude are floats
merged_data['start_lat'] = merged_data['start_lat'].astype(float)
merged_data['start_lng'] = merged_data['start_lng'].astype(float)
merged_data['end_lat'] = merged_data['end_lat'].astype(float)
merged_data['end_lng'] = merged_data['end_lng'].astype(float)

In [26]:
# Ensure categorical fields are strings
merged_data['rideable_type'] = merged_data['rideable_type'].astype(str)
merged_data['member_casual'] = merged_data['member_casual'].astype(str)
merged_data['start_station_name'] = merged_data['start_station_name'].astype(str)
merged_data['end_station_name'] = merged_data['end_station_name'].astype(str)
# Ensure ride_id is a string
merged_data['ride_id'] = merged_data['ride_id'].astype(str)
# Ensure 'year' column is integer
merged_data['Year'] = merged_data['Year'].astype(str)

In [27]:
duplicates = merged_data[merged_data.duplicated()]
print(duplicates)

Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual, Year]
Index: []

In [31]:
# How many trips have been recorded in total during the chosen period?
trip_2023 = merged_data.loc[merged_data['Year']=='2023']
print(len(trip_2023))

111701

In [33]:
merged_data.reset_index(drop=True, inplace=True)

In [35]:
# Export the merged file to csv for loading in Tableau
merged_data.to_csv('merged_cityBike_data_2023_and_2024_Aug.csv', index=False, header=True)